@import '~sass-mq';

.UnsupportedBrowser {
  min-height: 300px;
}

.UnsupportedBrowser__title {
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
  @include mq($from: desktop) {
    font-size: 3rem;
    margin: 15px 0;
  }
}

.UnsupportedBrowser__text {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0;
  max-width: 540px;
  @include mq($from: desktop) {
    font-size: 2rem;
    max-width: 740px;
  }
}

.UnsupportedBrowser__browserImage {
  margin: auto;
  width: 250px;
  @include mq($from: desktop) {
    width: 350px;
  }
}

.UnsupportedBrowser__list {
  display: block;
  flex-wrap: wrap;
  text-align: center;
}

.UnsupportedBrowser__item {
  display: inline-block;
  &:hover {
    opacity: 0.8;
  }
}

.UnsupportedBrowser__itemLink {
  text-align: center;
  text-decoration: underline;
  div {
    font-size: 0.6rem;
    @include mq($from:desktop) {
      font-size: 1rem;
    }
  }

}

.UnsupportedBrowser__logo {
  padding: 10px;
  width: 80px;
  height: 80px;
  @include mq($from:desktop) {
    width: 130px;
    height: 130px;
  }
}

