.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
.pnpm-debug.log
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
stats.json
jest-coverage

tmp/cache
