$minorSecond: 1.067;
$majorSecond: 1.125;
$minorThird: 1.2;
$majorThird: 1.25;
$perfectFourth: 1.333;
$augmentedFourth: 1.414;
$perfectFifth: 1.5;
$goldenRatio: 1.618;

$type-base-size: 1rem;
$type-levels: 4, 3, 2, 1;
$level-size: $type-base-size;
$type-size-ratio: $perfectFourth;

@each $level in $type-levels {
  $level-size: $level-size * $type-size-ratio;

  h#{$level} {
    font-size: $level-size;
  }
}
