.Button {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  min-width: 64px;
  padding: 6px 16px;
  border: 0;
  border-radius: 4px;
  background-color: #03a9f4;
  text-decoration: none;

  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: adjust-color(#03a9f4, $lightness: $lighten-amount);
  }

  &:active {
    background-color: adjust-color(#03a9f4, $lightness: $darken-amount);
  }

  &:disabled {
    background-color: rgb(0 0 0 / .12);
    color: rgb(0 0 0 / .26);

    cursor: not-allowed;
  }
}

.Button__spinner {
  /* Spinner size and color */
  display: inline-block;
  vertical-align: middle;

  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #444 transparent transparent #444;
  border-radius: 50%;

  /* Additional spinner styles */
  animation: spinner 400ms linear infinite;
}

/* Animation styles */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Button__spinner-slow {
  animation: spinner 1s linear infinite;
}
