.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 6px 16px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
  background-color: #03a9f4;

  &:hover {
    background-color: adjust-color(#03a9f4, $lightness: $lighten_amount);
  }

  &:active {
    background-color: adjust-color(#03a9f4, $lightness: $darken_amount);
  }

  &:disabled {
    cursor: not-allowed;
    color: rgb(0 0 0 / .26);
    background-color: rgb(0 0 0 / .12);
  }
}

.Button__spinner {
  /* Spinner size and color */
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-top-color: #444;
  border-left-color: #444;

  /* Additional spinner styles */
  animation: spinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: middle;
}

/* Animation styles */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner-slow {
  animation: spinner 1s linear infinite;
}
