.Loader {
  position: relative;

  display: inline-block;

  width: 80px;
  height: 80px;
}

.Loader div {
  position: absolute;

  display: block;

  box-sizing: border-box;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-color: #000 transparent transparent;
  border-radius: 50%;

  animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
}

.Loader div:nth-child(1) {
  animation-delay: -.45s;
}

.Loader div:nth-child(2) {
  animation-delay: -.3s;
}

.Loader div:nth-child(3) {
  animation-delay: -.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
