@use "sass:color";

.ForgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  min-width: 270px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;

  @include centerer;

  @include mq($from: desktop) {
    min-width: 380px;
  }
}

.ForgotPasswordForm__title {
  align-self: center;

  font-weight: normal;
  font-size: 2rem;
  text-align: center;

  @include mq($from: desktop) {
    font-size: 3rem;
  }
}

.ForgotPasswordForm__group {
  position: relative;

  width: 100%;
  margin-bottom: 45px;
}

.ForgotPasswordForm__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  color: #9e9e9e;

  transition: .3s;

  @include mq($from: desktop) {
    font-size: 1.3rem;
  }
}

.ForgotPasswordForm__input {
  position: relative;

  width: 100%;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;

  transition: .3s;

  &:focus {
    border-bottom: 1px solid #03a9f4;
  }

  &:focus ~ .ForgotPasswordForm__label,
  &:not(:placeholder-shown) ~ .ForgotPasswordForm__label {
    top: -18px;

    color: #03a9f4;
    font-size: .75rem;

    @include mq($from: desktop) {
      font-size: .9rem;
    }
  }
}

.Button.ForgotPasswordForm__button {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;

  @include mq($from: desktop) {
    font-size: 1.2rem;
  }
}

// error

.ForgotPasswordForm__error {
  position: absolute;
  top: 20px;

  color: #d32f2f;
  font-size: .9rem;
}

.ForgotPasswordForm__input[aria-invalid="true"] {
  border-bottom: 1px solid #d32f2f;
}
