@import '~sass-mq';

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.Popup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.Popup__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  max-width: 260px;
  min-height: 100px;

  @include mq($from: tablet) {
    max-width: 700px;
  }
}

.Popup__content-decoration {
  background-color: white;
  box-shadow: rgb(0 0 0 / 50%) 0 16px 70px;
}

.Popup__contentHeader {
  align-self: flex-end;
}

.Popup__closeBtn {
  padding: 10px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: white;
  }
}
