@import '~sass-mq';
@import '../../scss/abstracts/mixsins';

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.Popup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.Popup__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  max-width: 260px;
  min-height: 150px;

  @include mq($from: tablet) {
    max-width: 700px;
  }
}

.Popup__content-decoration {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 16px 70px;
}

.Popup__contentHeader {
  align-self: flex-end;
}

.Popup__contentBody {
  padding: 15px 0;
}

.clearBtn {
  padding: 10px;
  @include clearBtn;
}

.Popup__closeBtn {
  cursor: pointer;
  transition-duration: .4s;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;

  &:hover, &:active {
    color: #000;
    text-decoration: none;
    opacity: .75;
  }

  &:focus {
    color: black;
    font-size: 2rem;
    opacity: 1;
  }
}

// used this library for animation https://animate.style/

.fadeIn {
  animation: .5s fadeIn;
}

.backInDown {
  animation: .5s backInDown;
}

@keyframes backInDown {
  0% {
    transform: translateY(-1200px) scale(0.7);
    opacity: .7;
  }

  80% {
    transform: translateY(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
